name: Weather Data Platform CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  validate-weather-pipeline:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Python syntax check (ETL scripts)
        run: |
          python -m py_compile scripts/*.py

      - name: Python syntax check (Airflow DAG)
        run: |
          python -m py_compile dags/*.py
